<article class="blog-post mb-4">
    <h2 class="blog-post-title">Water ETFs</h2>
    <p class="blog-post-meta">October 5th, 2021 by
        <a href="https://www.linkedin.com/in/joaojesusbath/">Joao</a>
    </p>

    <strong class="d-inline-block mb-2 text-success" style="margin-right: 10px;">ESG</strong>
    <strong class="d-inline-block mb-2 text-success" style="margin-right: 10px;">Environment </strong>

    <p>A short review on often-forgotten ETF's</p>
    <hr>
    <p>With wildfires being caused due to water shortages and rising temperatures, and crops in
        California risking obliteration from continuous drought, it seems brings back to the table the
        old idea that we need to value what we intrinsically need the most - water.
        Some water ETF's this year have attained very high valuations. Is it just the market rise or is
        there intrinsic value in the product?
        President Biden’s infrastructure bill includes $55 billion for water infrastructure and other
        water system related investments. Investing in water could be a good long-term bet for those
        concerned about its sustainability. It is also a good option for environmentally-focused
        investors.
        </p>
        <p>
        The First Trust Water ETF (FIW) invests in companies that derive a large portion of their
        revenues from the potable and wastewater industry.
        With a 1 Year average 40% return, the ETF is beating competitors, which rather focus more on
        companies that create products designed to conserve and purify water. Invesco Water Resources
        ETF is perhaps the clear competitor.
        The market is indicating the strong sentiment in the water space, but is unclear, however, which
        niche segments are the ones with the strongest ability to keep sustainable growth.
        An interesting area for further research, especially around consumer sentiment and the different
        segments of the water supply chain.</p>


</article>