<article class="blog-post mb-4">
    <h2 class="blog-post-title">The role of Lithium in the new economy</h2>
    <p class="blog-post-meta">November 5th, 2021 by
        <a href="https://www.linkedin.com/in/joaojesusbath/">Joao</a>
    </p>

    <strong class="d-inline-block mb-2 text-success" style="margin-right: 10px;">ESG</strong>
    <strong class="d-inline-block mb-2 text-success" style="margin-right: 10px;">Environment </strong>
    <strong class="d-inline-block mb-2 text-primary" style="margin-right: 10px;">Technology </strong>

    <p>Although we use it every day, on our laptops, cars or phones,
        Lithium production has important sustainability challenges
        that need to be addressed to fulfil its role in the transition into a low carbon economy.
        Despite lithium’s role, the controversial nature of the sustainability of lithium operations is
        rising</p>
    <hr>

    <h3>Some things come at a cost</h3>

    <p>The majority of lithium is currently extracted from only 10 sites around the world found in
        Australia, Argentina, Chile, and China. This geographical disparity is a challenge for the rest
        of the world, especially for regions like the EU with a big ambition to go net-zero.
        Other challenges can be political and financial issues that affect the profitability of lithium
        projects. For example, while Bolivia has the largest lithium resources of the world, it does not
        have a strong commercial extraction of the product yet.
        As any raw material, there are important social and environmental challenges that arise from the
        extraction process. </p>
    <p>
        In Portugal, local authorities have received immense backlash after allowing
        for lithium extraction near the border with Spain.
        Lithium extraction is resource-intensive, therefore, it represents water stress, land use, and
        pollution risks. Social issues must be addressed with tools like community consultation,
        engagement, and free, prior, informed consent. A thorough environmental and social impact
        assessment and the establishment of maximum extraction levels can aid in the reduction of
        environmental risks.</p>
    <p>Recycling electric batteries is a developing sector that could help fulfil the world’s need for
        lithium and reduce its environmental and social impacts. Higher pressure in the raw materials
        market will increment the need and profitability of recycling lithium accompanied by
        environmental policy to steer the sector into end-of-life practices. The Li-ion battery
        recycling market is projected to grow from USD 1.5 billion in 2019 to USD 18.1 billion by 2030.
        Other alternatives are being studied to alleviate the environmental impact of the extraction
        process, for example, lithium extraction from geothermal waters where geothermal energy is
        naturally powering the lithium extraction from the solid rock.</p>


</article>