<article class="blog-post mb-4">
    <h2 class="blog-post-title">NVIDIA, an ESG darling</h2>
    <p class="blog-post-meta">November 10th, 2021 by
        <a href="https://www.linkedin.com/in/joaojesusbath/">Joao</a>
    </p>

    <strong class="d-inline-block mb-2 text-success" style="margin-right: 10px;">ESG</strong>
    <strong class="d-inline-block mb-2 text-success" style="margin-right: 10px;">Environment </strong>
    <strong class="d-inline-block mb-2 text-primary" style="margin-right: 10px;">Technology </strong>

    <p>With the advent of Machine learning and artificial intelligence, the machines NVIDIA has been
        building for years,
        have now found even greater importance in the tech world. NVIDIA's graphic cards allow for much
        more efficient computing and better performance.
        However, as Nvidia scaled up, so did the need for more silicon. A larger pressure on the
        sourcing of silicon and rare minerals for chip-making means
        Nvidias has taken place as one of the largest ESG companies in the world.
        However, apart from phenomenal technological achievements and stock gains, Nvidia does not lag
        in the fields of Material sourcing and energy use.</p>
    <hr>

    <h3>Technology backed improvement</h3>

    <p>As an example, Nvidia's end-to-end AI supercomputing platform powered by NVIDIA Ampere
        architecture A100 GPUs are up to 40x more energy efficient
        than traditional CPU servers when running AI and high-performance computing workloads. According
        to NVIDIAs 2021 ESG report,
        If all CPU servers running AI and HPC transitioned to GPUs,
        the world would save 11 terawatt-hours of electricity per year—equivalent to taking two
        coal-fired power plants offline or removing 1.7M cars from the road.</p>

    <p>NVIDIA is also a member of the Public Private Alliance (PPA) for Responsible Minerals Trade, and
        the Responsible Minerals Initiative (RMI). The PPA provides funding
        and coordination support to organizations working within the Democratic Republic of Congo and
        adjacent countries to develop verifiable conflict-free supply chains.</p>

    <p>On top of this, Nvidia's sustainability report points out its gross margin, or per cent of profit
        left from revenue after paying direct costs actually rose to 62.3% in fiscal 2021.
        That's up from 61.2% in fiscal 2019. Additionally, revenue jumped more than 40% in that time.
    </p>


    <p>Showing it's far from resting, Nvidia outlined 24 ESG investing goals for 2022, all of which that
        can be checked <a
            href="https://images.nvidia.com/aem-dam/Solutions/documents/FY2021-NVIDIA-CSR-Social-Responsibility.pdf">here</a>.

        Nvidia is just another great example of how technology can be employed to save on emissions and
        improve the welfare of our planet.
        Soon, many companies will follow Nvidia's lead.</p>
</article>