<article class="blog-post mb-4">
    <h2 class="blog-post-title">Become your own Azure admin</h2>
    <p class="blog-post-meta">November 24th, 2021 by <a
            href="https://www.linkedin.com/in/joaojesusbath/">Joao</a></p>


    <p>
        If you try to create a PowerBi account, with a @gmail.com or similar domain names, you will
        likely not be accepted into signing up for PowerBi.
        Microsoft will rather prompt you to sign in with your work or school email.
        This is often annoying, especially if you need to be granted PowerBi admin permissions you
        cannot achieve through your work/school account.
    </p>

    <p>I’ll be writing <a
            href="https://medium.com/@joaomariajesus/create-a-powerbi-account-with-your-personal-email-693c3e34a899">
            step-by-step guide</a>

        for you to create your own .onmicrosoft.com account,
        which you can use to sign into PowerBi and fully manage PowerBi workspaces.</p>

    <strong class="d-inline-block mb-2 text-primary" style="margin-right: 10px;">Azure</strong>
    <strong class="d-inline-block mb-2 text-primary" style="margin-right: 10px;">PowerBi </strong>
    <strong class="d-inline-block mb-2 text-primary" style="margin-right: 10px;">Microsoft 365 </strong>

    <hr>

</article>