<article class="blog-post mb-4">
    <h2 class="blog-post-title">Pandas Snippets</h2>
    <p class="blog-post-meta">November 30th, 2021 by <a
            href="https://www.linkedin.com/in/joaojesusbath/">Joao</a></p>


    <p>
        Over the years, I have built different projects with pandas, mostly revolving around cleaning
        and preparing data ahead of further analysis. I'm no big fan of admin work, but I set out to
        start a portfolio of important Pandas snippets for you (and me) to use as a reference for
        further projects, to increase productivity and development speed.
        This is a work in progress, but the goal is to create a comprehensive pandas library that people
        can, later on, interact with, and vet work.
        You can check the snippets on my medium article.
    </p>

    <p>You can check the snippets on my <a
            href="https://medium.com/@joaomariajesus/pandas-snippets-f77e509cb6ad">
            medium article.</a>

        for you to use on your own projects</p>

    <strong class="d-inline-block mb-2 text-warning" style="margin-right: 10px;">Python</strong>
    <strong class="d-inline-block mb-2 text-warning" style="margin-right: 10px;">Pandas </strong>

    <hr>

</article>