<article class="blog-post mb-4">
    <h2 class="blog-post-title">Azure Data Facatory Release Pipelines</h2>
    <p class="blog-post-meta">February 6th, 2022 by <a
            href="https://www.linkedin.com/in/joaojesusbath/">Joao</a></p>


    <p>
        Scenario: You have a Data factory connected to Azure Storage accounts and SQL server. 
        Connections run on managed private endpoints for enhanced security. You want to create CI/CD releases for the Data factory for development,
         Testing and Production environments. If this rings a bell, this tutorial is for you.
        I'll be detailing the steps for Release Pipelines in Azure Data factory using the most up to
         date Microsoft workflows. I'll also cover overwriting data factory connections and parameters
          so you can flexibly use a standard Data factory and pass it across different environments.
    </p>

    <p>You can check the article on my <a
            href="https://medium.com/@joaomariajesus/release-pipelines-for-azure-data-factory-19df99c7401a">
            medium article.</a>

        for you to use on your own projects</p>

    <strong class="d-inline-block mb-2 text-primary" style="margin-right: 10px;">Azure</strong>
    <strong class="d-inline-block mb-2 text-primary" style="margin-right: 10px;">Data Factory </strong>
    <strong class="d-inline-block mb-2 text-primary" style="margin-right: 10px;">DevOps</strong>
    <strong class="d-inline-block mb-2 text-primary" style="margin-right: 10px;">CI/CD Pipelines</strong>



    <hr>

</article>