<article class="blog-post mb-4">
  <h2 class="blog-post-title">Deploying GPT-3 in a Flask Application</h2>
  <p class="blog-post-meta">
    February 16th, 2022 by
    <a href="https://www.linkedin.com/in/joaojesusbath/">Joao</a>
  </p>

  <p>
    GPT-3 is an amazing NLP model developed at Open AI and its API just became
    publicly available a few months ago. The model uses Artificial Intelligence
    to process text “applied to virtually any task that involves understanding
    or generating natural language or code”. That means using the AI to
    summarize text, work as a chatbox, write stories (and code) etc… In this
    small example, the GPT-3 will give the user a bunch of prep interview
    questions based on a role and experience level.
  </p>

  <p>
    You can check the article on my
    <a
      href="https://medium.com/@joaomariajesus/deploying-gpt-3-in-a-flask-application-eeb0d00de573"
    >
      medium article.</a
    >

    for you to use on your own projects
  </p>

  <strong class="d-inline-block mb-2 text-warning" style="margin-right: 10px"
    >Python</strong
  >
  <strong class="d-inline-block mb-2 text-warning" style="margin-right: 10px"
    >Flask
  </strong>
  <strong class="d-inline-block mb-2 text-success" style="margin-right: 10px"
    >AI</strong
  >

  <hr />
</article>
