<article class="blog-post mb-4">
  <h2 class="blog-post-title">Deploying GPT-3 in a Flask Application</h2>
  <p class="blog-post-meta">
    February 16th, 2022 by
    <a href="https://www.linkedin.com/in/joaojesusbath/">Joao</a>
  </p>

  <p>
    Often is the case where we need to ingest Data following the same format,
    from multiple providers. If we have a relatively small amount of providers,
    we can create individual pipelines, however, if this number scales to 100s
    or 1000s, we need to automatically iterate our ingestion process. This short
    tutorial handles this.
  </p>

  <p>
    You can check the article on my
    <a
      href="https://medium.com/@joaomariajesus/pipelines-in-azure-synapse-data-factory-4cc496b05710"
    >
      medium article.</a
    >

    for you to use on your own projects
  </p>

  <strong class="d-inline-block mb-2 text-primary" style="margin-right: 10px"
    >Azure</strong
  >
  <strong class="d-inline-block mb-2 text-primary" style="margin-right: 10px"
    >Data Factory
  </strong>

  <hr />
</article>
