{% extends "mainPage.html" %}

{% block articles %} 

<article class="blog-post mb-4">
    <h2 class="blog-post-title">Azure Data Facatory Release Pipelines</h2>
    <p class="blog-post-meta">February 6th, 2022 by <a
            href="https://www.linkedin.com/in/joaojesusbath/">Joao</a></p>


    <p>
        Scenario: You have a Data factory connected to Azure Storage accounts and SQL server. 
        Connections run on managed private endpoints for enhanced security. You want to create CI/CD releases for the Data factory for development,
         Testing and Production environments. If this rings a bell, this tutorial is for you.
        I'll be detailing the steps for Release Pipelines in Azure Data factory using the most up to
         date Microsoft workflows. I'll also cover overwriting data factory connections and parameters
          so you can flexibly use a standard Data factory and pass it across different environments.
    </p>

    <p>You can check the article on my <a
            href="https://medium.com/@joaomariajesus/release-pipelines-for-azure-data-factory-19df99c7401a">
            medium article.</a>

        for you to use on your own projects</p>

    <strong class="d-inline-block mb-2 text-primary" style="margin-right: 10px;">Azure</strong>
    <strong class="d-inline-block mb-2 text-primary" style="margin-right: 10px;">Data Factory </strong>
    <strong class="d-inline-block mb-2 text-primary" style="margin-right: 10px;">DevOps</strong>
    <strong class="d-inline-block mb-2 text-primary" style="margin-right: 10px;">CI/CD Pipelines</strong>

    <hr>

</article>


<article class="blog-post mb-4">
    <h2 class="blog-post-title">Pandas Snippets</h2>
    <p class="blog-post-meta">November 30th, 2021 by <a
            href="https://www.linkedin.com/in/joaojesusbath/">Joao</a></p>


    <p>
        Over the years, I have built different projects with pandas, mostly revolving around cleaning
        and preparing data ahead of further analysis. I'm no big fan of admin work, but I set out to
        start a portfolio of important Pandas snippets for you (and me) to use as a reference for
        further projects, to increase productivity and development speed.
        This is a work in progress, but the goal is to create a comprehensive pandas library that people
        can, later on, interact with, and vet work.
        You can check the snippets on my medium article.
    </p>

    <p>You can check the snippets on my <a
            href="https://medium.com/@joaomariajesus/pandas-snippets-f77e509cb6ad">
            medium article.</a>

        for you to use on your own projects</p>

    <strong class="d-inline-block mb-2 text-warning" style="margin-right: 10px;">Python</strong>
    <strong class="d-inline-block mb-2 text-warning" style="margin-right: 10px;">Pandas </strong>

    <hr>

</article>

<!-- New article -->
<article class="blog-post mb-4">
    <h2 class="blog-post-title">Become your own Azure admin</h2>
    <p class="blog-post-meta">November 24th, 2021 by <a
            href="https://www.linkedin.com/in/joaojesusbath/">Joao</a></p>


    <p>
        If you try to create a PowerBi account, with a @gmail.com or similar domain names, you will
        likely not be accepted into signing up for PowerBi.
        Microsoft will rather prompt you to sign in with your work or school email.
        This is often annoying, especially if you need to be granted PowerBi admin permissions you
        cannot achieve through your work/school account.
    </p>

    <p>I’ll be writing <a
            href="https://medium.com/@joaomariajesus/create-a-powerbi-account-with-your-personal-email-693c3e34a899">
            step-by-step guide</a>

        for you to create your own .onmicrosoft.com account,
        which you can use to sign into PowerBi and fully manage PowerBi workspaces.</p>

    <strong class="d-inline-block mb-2 text-primary" style="margin-right: 10px;">Azure</strong>
    <strong class="d-inline-block mb-2 text-primary" style="margin-right: 10px;">PowerBi </strong>
    <strong class="d-inline-block mb-2 text-primary" style="margin-right: 10px;">Microsoft 365 </strong>

    <hr>

</article>
<!-- End article 1 -->

<article class="blog-post mb-4">
    <h2 class="blog-post-title">NVIDIA, an ESG darling</h2>
    <p class="blog-post-meta">November 10th, 2021 by
        <a href="https://www.linkedin.com/in/joaojesusbath/">Joao</a>
    </p>

    <strong class="d-inline-block mb-2 text-success" style="margin-right: 10px;">ESG</strong>
    <strong class="d-inline-block mb-2 text-success" style="margin-right: 10px;">Environment </strong>
    <strong class="d-inline-block mb-2 text-primary" style="margin-right: 10px;">Technology </strong>

    <p>With the advent of Machine learning and artificial intelligence, the machines NVIDIA has been
        building for years,
        have now found even greater importance in the tech world. NVIDIA's graphic cards allow for much
        more efficient computing and better performance.
        However, as Nvidia scaled up, so did the need for more silicon. A larger pressure on the
        sourcing of silicon and rare minerals for chip-making means
        Nvidias has taken place as one of the largest ESG companies in the world.
        However, apart from phenomenal technological achievements and stock gains, Nvidia does not lag
        in the fields of Material sourcing and energy use.</p>
    <hr>

    <h3>Technology backed improvement</h3>

    <p>As an example, Nvidia's end-to-end AI supercomputing platform powered by NVIDIA Ampere
        architecture A100 GPUs are up to 40x more energy efficient
        than traditional CPU servers when running AI and high-performance computing workloads. According
        to NVIDIAs 2021 ESG report,
        If all CPU servers running AI and HPC transitioned to GPUs,
        the world would save 11 terawatt-hours of electricity per year—equivalent to taking two
        coal-fired power plants offline or removing 1.7M cars from the road.</p>

    <p>NVIDIA is also a member of the Public Private Alliance (PPA) for Responsible Minerals Trade, and
        the Responsible Minerals Initiative (RMI). The PPA provides funding
        and coordination support to organizations working within the Democratic Republic of Congo and
        adjacent countries to develop verifiable conflict-free supply chains.</p>

    <p>On top of this, Nvidia's sustainability report points out its gross margin, or per cent of profit
        left from revenue after paying direct costs actually rose to 62.3% in fiscal 2021.
        That's up from 61.2% in fiscal 2019. Additionally, revenue jumped more than 40% in that time.
    </p>


    <p>Showing it's far from resting, Nvidia outlined 24 ESG investing goals for 2022, all of which that
        can be checked <a
            href="https://images.nvidia.com/aem-dam/Solutions/documents/FY2021-NVIDIA-CSR-Social-Responsibility.pdf">here</a>.

        Nvidia is just another great example of how technology can be employed to save on emissions and
        improve the welfare of our planet.
        Soon, many companies will follow Nvidia's lead.</p>
</article>

<article class="blog-post mb-4">
    <h2 class="blog-post-title">The role of Lithium in the new economy</h2>
    <p class="blog-post-meta">November 5th, 2021 by
        <a href="https://www.linkedin.com/in/joaojesusbath/">Joao</a>
    </p>

    <strong class="d-inline-block mb-2 text-success" style="margin-right: 10px;">ESG</strong>
    <strong class="d-inline-block mb-2 text-success" style="margin-right: 10px;">Environment </strong>
    <strong class="d-inline-block mb-2 text-primary" style="margin-right: 10px;">Technology </strong>

    <p>Although we use it every day, on our laptops, cars or phones,
        Lithium production has important sustainability challenges
        that need to be addressed to fulfil its role in the transition into a low carbon economy.
        Despite lithium’s role, the controversial nature of the sustainability of lithium operations is
        rising</p>
    <hr>

    <h3>Some things come at a cost</h3>

    <p>The majority of lithium is currently extracted from only 10 sites around the world found in
        Australia, Argentina, Chile, and China. This geographical disparity is a challenge for the rest
        of the world, especially for regions like the EU with a big ambition to go net-zero.
        Other challenges can be political and financial issues that affect the profitability of lithium
        projects. For example, while Bolivia has the largest lithium resources of the world, it does not
        have a strong commercial extraction of the product yet.
        As any raw material, there are important social and environmental challenges that arise from the
        extraction process. </p>
    <p>
        In Portugal, local authorities have received immense backlash after allowing
        for lithium extraction near the border with Spain.
        Lithium extraction is resource-intensive, therefore, it represents water stress, land use, and
        pollution risks. Social issues must be addressed with tools like community consultation,
        engagement, and free, prior, informed consent. A thorough environmental and social impact
        assessment and the establishment of maximum extraction levels can aid in the reduction of
        environmental risks.</p>
    <p>Recycling electric batteries is a developing sector that could help fulfil the world’s need for
        lithium and reduce its environmental and social impacts. Higher pressure in the raw materials
        market will increment the need and profitability of recycling lithium accompanied by
        environmental policy to steer the sector into end-of-life practices. The Li-ion battery
        recycling market is projected to grow from USD 1.5 billion in 2019 to USD 18.1 billion by 2030.
        Other alternatives are being studied to alleviate the environmental impact of the extraction
        process, for example, lithium extraction from geothermal waters where geothermal energy is
        naturally powering the lithium extraction from the solid rock.</p>


</article>

<article class="blog-post mb-4">
    <h2 class="blog-post-title">Water ETFs</h2>
    <p class="blog-post-meta">October 5th, 2021 by
        <a href="https://www.linkedin.com/in/joaojesusbath/">Joao</a>
    </p>

    <strong class="d-inline-block mb-2 text-success" style="margin-right: 10px;">ESG</strong>
    <strong class="d-inline-block mb-2 text-success" style="margin-right: 10px;">Environment </strong>

    <p>A short review on often-forgotten ETF's</p>
    <hr>
    <p>With wildfires being caused due to water shortages and rising temperatures, and crops in
        California risking obliteration from continuous drought, it seems brings back to the table the
        old idea that we need to value what we intrinsically need the most - water.
        Some water ETF's this year have attained very high valuations. Is it just the market rise or is
        there intrinsic value in the product?
        President Biden’s infrastructure bill includes $55 billion for water infrastructure and other
        water system related investments. Investing in water could be a good long-term bet for those
        concerned about its sustainability. It is also a good option for environmentally-focused
        investors.
        </p>
        <p>
        The First Trust Water ETF (FIW) invests in companies that derive a large portion of their
        revenues from the potable and wastewater industry.
        With a 1 Year average 40% return, the ETF is beating competitors, which rather focus more on
        companies that create products designed to conserve and purify water. Invesco Water Resources
        ETF is perhaps the clear competitor.
        The market is indicating the strong sentiment in the water space, but is unclear, however, which
        niche segments are the ones with the strongest ability to keep sustainable growth.
        An interesting area for further research, especially around consumer sentiment and the different
        segments of the water supply chain.</p>


</article>

{% endblock %}