{% extends "base.html" %} {% block title %}Login Page{% endblock %} {% block
content %}

<style>
  .grad {
    background: radial-gradient(
      circle,
      rgba(131, 58, 180, 1) 0%,
      rgba(254, 0, 0, 1) 61%,
      rgba(252, 176, 69, 1) 100%
    );
  }
</style>

<div class="p-2 p-md-5 mb-4 text-white rounded grad">
  <div class="col-md-6 px-0">
    <h1 class="display-4 fst-italic">Your interview Questions</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <ul>
        {% for value in list %}
        <p class="blog-post mb-4 text-center">{{ value }}</p>
        {% endfor %}
      </ul>
    </div>

    <div class="col-sm"></div>
  </div>
</div>

{% endblock %}
