{% extends "base.html" %} {% block title %}Login Page{% endblock %} {% block
content %}
<style>
  .grad {
    background-color: #115ec1;
    background-image: linear-gradient(160deg, #115ec1 0%, #51bccf 100%);
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="p-4 p-md-5 mb-4 text-white rounded grad">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">Join our MailingList!</h1>
          <p class="lead my-2">
            Everyday our scripts track markets and upload automated suggestions
            on equities. Join the list to receive our emails. You will also
            receive updates on the new tech reports and medium articles!
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="p-4 p-md-5 mb-4 text-black rounded">
        <form class="text-center" action="#" method="post">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01"
                >Title:
              </label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Mr.</option>
              <option value="1">Mrs.</option>
              <option value="2">Ms.</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="Your Contact Name"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Your email" />
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">@gmail.com</span>
            </div>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01"
                >Industry</label
              >
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">Finantial Services</option>
              <option value="2">Technology</option>
              <option value="3">Government</option>
              <option value="4">Healthcare</option>
              <option value="5">Other Services</option>
              <option value="6">Military</option>
              <option value="7">Education</option>
              <option value="8">Other</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01"
                >I want to receive:</label
              >
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">Weekly updates</option>
              <option value="2">Monthly Updates</option>
              <option value="3">Only Tech</option>
              <option value="4">Only Finance</option>
              <option value="5">All Correspondence</option>
            </select>
          </div>

          <!-- <button
            type="button"
            class="btn btn-primary"
            data-toggle="button"
            aria-pressed="false"
            autocomplete="off"
            href="/"
          >
            Submit
          </button> -->

          <a href="/" class="btn btn-primary" type="submit" value="Submit"
            >Submit</a
          >
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <div class="p-4 p-md-5 mb-4 text-white rounded grad">
  <div class="col-md-6 px-0">
    <h1 class="display-4 fst-italic">AI interviewing</h1>
    <p class="lead my-2">
      GPT-3 Powered prep interview questions. Insert a job position like
      "research assistant" and your experience level (junior, senior, Phd)
    </p>
  </div>
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <form class="text-center" action="#" method="post">
        <p>What position are you interviewing for?</p>
        <p><input type="text" name="job" /></p>
        <p>What's ypur experience level?</p>
        <p><input type="text" name="experience" /></p>
        <p><input type="submit" value="submit" /></p>
      </form>
    </div>

    <div class="col-sm"></div>
  </div>
</div> -->

{% endblock %}
