{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}

<div class="p-4 p-md-5 mb-4 text-white rounded bg-success ">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Stocks, Data and technology under one roof</h1>
        <p class="lead my-3">Check out my medium articles and research pieces on technology and finance to give
            you new ideas to apply on your own projects</p>
        <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
</div>


<form action="#" method="post">
	<p>What position are you interviewing for?</p>
	<p><input type="text" name="job" /></p>
    <p>How many questions do you want?</p>
    <p><input type="text" name="number" /></p>

	<p><input type="submit" value="submit"/></p>
</form>

{% endblock %}